[Desktop Entry]
Exec=kcmshell4 user-manager
Icon=system-users
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=user_manager
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=system-administration

Name=User Manager
Name[cs]=Správce uživatelů
Name[de]=Benutzerverwaltung
Name[nl]=Gebruikersbeheerder
Name[pt]=Gestor de Utilizadores
Name[pt_BR]=Gerenciador de usuários
Name[sk]=Správca užívateľov
Name[sv]=Användarhanterare
Name[tr]=Kullanıcı Yöneticisi
Name[uk]=Керування користувачами
Name[x-test]=xxUser Managerxx

Comment=Add, remove or edit system users
Comment[de]=Systembenutzer hinzufügen, entfernen oder bearbeiten
Comment[nl]=Systeemgebruikers toevoegen, verwijderen of bewerken
Comment[pt]=Adicionar, remover ou editar utilizadores do sistema
Comment[pt_BR]=Adiciona, remove ou edita usuários do sistema
Comment[sk]=Pridať, odstrániť alebo upraviť systémových používateľov
Comment[sv]=Lägg till, ta bort eller redigera systemanvändare
Comment[tr]=Sistem kullanıcıları ekle, kaldır veya düzenle
Comment[uk]=Додавання, вилучення або зміна записів користувачів системи
Comment[x-test]=xxAdd, remove or edit system usersxx

X-KDE-Keywords=users,system,administration
X-KDE-Keywords[de]=Benutzer,System,Verwaltung
X-KDE-Keywords[nl]=gebruikers,systeem,beheer
X-KDE-Keywords[pt]=utilizadores,sistema,administração
X-KDE-Keywords[pt_BR]=usuários,sistema,administração
X-KDE-Keywords[sk]=používatelia,systém,správa
X-KDE-Keywords[sv]=användare,system,administration
X-KDE-Keywords[tr]=kullanıcılar,sistem,yönetim
X-KDE-Keywords[uk]=users,system,administration,користувачі,система,адміністрування
X-KDE-Keywords[x-test]=xxusers,system,administrationxx

Categories=Qt;KDE;X-KDE-settings-user_manager;
